{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>D3: Force layout</title>
		<script type="text/javascript" src="//d3js.org/d3.v3.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'css/fl.css' %}">
	</head>
	<body>
    <svg></svg>
    <div class='line'></div>
    <div class="gyubin">
      <h2>중심 노드</h2>
      <p class="center-node"></p>
      <h2>주변 노드</h2>
      <p class="around-node"></p>
      <h2>의미</h2>
      <p class="meaning"></p>
    </div>
		<script type="text/javascript" src="{% static 'js/force/ntower.js' %}"></script>
	</body>
</html>
