
div.greena {
  width: 1280px;
  height: 800px;;
  position: relative;
  }


svg {
  width: 1280px;
  height: 800px;
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
}

.mark {
  stroke: none;
}

.cName {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 9999;
  width: 50px;
  height: 50px;
  font-size: 6px
  overflow: hidden;
  text-align: center;
  font-family: Helvetica;
  color: #5B4A4C;
  pointer-events: none;
}

.location {
  font-size: 16px;
  color: #FFFFFF;
  fill: #768480;
  font-family: Helvetica;
  font-weight: lighter;
  text-anchor: middle;
}

.location_box {
  fill: white;
  stroke: none;
}

.scaleNum {
  font-size: 11px;
  fill: #888296;
  font-family: Helvetica;
  text-anchor: middle;
  font-weight: medium;
}


svg circle {
  opacity: 0.6;
  transition: opacity .5s ease;
}

svg circle:hover {
  opacity: 1;
}

body {
  font-family: Helvetica;
}

p {
  color: #A095A3;
  text-align: center;
}

svg line {
  pointer-events: none;
}
