svg {
  float: left;
}
.gyubin {
  float: left;
  width: 350px;
  height: 500px;
  padding-top: 20px;
}

.around-node {
  width: 280px;
}

p {
  font-size : 1.2em;
  margin-top: 10px;
  margin-bottom: 35px;
  text-transform: uppercase;
}

.line {
  float:left;
  background-color: #222222;
  width: 2px;
  height: 450px;
  margin-right: 80px;
  position:relative;
  top: 20px;
}

h2 {
  margin-bottom: 5px;
}
