div.gyubin_offset_modal_body {
  /*width: 1024px;
  height: 700px;
  margin: 0;*/
  /*padding-left: auto;
  padding-right: auto;*/
}

div.gyubin_offset_modal_container {
  width: 1200px;
  position: absolute;
  margin-top: -140px;
 /* margin-left: auto;
  margin-right: auto;*/
}
