.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

#timeSeriesChart{
    width: 920px;
    height: 520px;
    margin-left: 22px;
}

.outer {
    border:1px dashed;
    width: 990px;
    overflow-x: auto;
    margin-top: 50px;
    margin-left:10px;
}

.inner {
    width: 920px;

}