{% load staticfiles %}
<html>
    <head>
        <title>DOT</title>
    </head>
    <body>
        <div>
            <h1><a href="">Deep dive into Seoul</a></h1>
        </div>
        <div>
            <ul>
                <li>1팀 재은-예지: <a href = "1">결과 보기</a></li>
                <li>---</li>
                <li>2팀 예원-재연: <a href = "2">결과 보기</a></li>
                <li>---</li>
                <li>3팀 상균-그리나: <a href = "3">결과 보기</a></li>
                <li>---</li>
                <li>4팀 규빈: <a href = "4">결과 보기</a></li>
            </ul>
        </div>
    </body>
</html>