{% load staticfiles %}
<html>
    <head>
        <title>DOT</title>
        <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="{% static 'js/d3.layout.cloud.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/result4.css' %}">
    </head>
    <body>
        <form>
          <label><input type="radio" name="mode" value="size" checked> Size</label>
          <label><input type="radio" name="mode" value="count"> Count</label>
        </form>
        <script src="{% static 'js/result4.js' %}"></script>
    </body>
</html>
